Source: heekscnc
Priority: extra
Maintainer: Romuald Conty <neomilium@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libwxgtk2.8-dev, libwxbase2.8-dev, libgtkglext1-dev, libopencascade-dev, heekscad-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://code.google.com/p/heekscnc/
Vcs-Svn: http://heekscnc.googlecode.com/svn/trunk/
Vcs-Browser: https://code.google.com/p/heekscnc/source/browse/

Package: heekscnc
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-wxgtk2.8, libgtkglext1 (>= 1.2), python (>= 2.5), libboost-python1.40.0 | libboost-python1.46.1 | libboost-python1.42.0 | libboost-python1.49.0, python-area, heekscad (>=1.0.0)
Description: HeeksCNC is an add-on for HeeksCAD http://code.google.com/p/heekscad/.
 The user can add machining operations. These can then be output to NC code.
 The NC code is then shown as red and green lines on the screen.
 The NC code is generated using Python script, so it can be configured for different machines.
 .

