Source: libkurve
Priority: extra
Maintainer: Joachim Steiger <ubuntu@hyte.de>
Build-Depends: debhelper (>= 7), python-dev
Standards-Version: 3.7.3
Section: libs
Homepage: http://code.google.com/p/heekscnc/

Package: libkurve0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: kurve C++ class with a Python module
 .
 This package contains the shared library.
 .
  Homepage: http://code.google.com/p/heekscnc/

